*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.OtherFont{
  font-family: 'Lakki Reddy', cursive;
}

html {
  background-image: url("/assets/fluffington-hotels.jpg");
}

#loginCard{
  margin-top: 10rem;
}